header{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(180, 29%, 50%);
}

.card{
    display: flex;
    margin : 15px auto;
    padding: 5px;
    box-shadow: 0px 6px 5px 0px rgb(145, 179, 202);
    border-radius: 5px;
    background-color: white;
    width:80%;
}

.cardbody{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;

}
.cardbody h4{
    color: hsl(180, 29%, 50%);
}
.cardbody h4:hover{
    cursor:pointer;
    color:black;
}

.cardbody p{
    font-size: 12px;
    
}
div>img{
    margin:10px;
}
.tools{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    flex-wrap: wrap;
}
.tools>span{
    background-color: hsl(180, 31%, 95%);
    border-radius: 5px;
    margin:3px;
    padding:5px;
    color: hsl(180, 29%, 50%);
}
.tools>span:hover{
    cursor: pointer;
    color:white;
    background-color: hsl(180, 29%, 50%);
}

.new{
    color:white;
    background-color: hsl(180, 29%, 50%);
    padding: 5px 10px;
    margin-left : 10px;
    border-radius: 15px;
    font-size: 10px;
    
}
.featured{
    color:white;
    background-color: hsl(180, 14%, 20%);
    padding: 5px 10px;
    margin-left : 10px;
    border-radius: 15px;
    font-size: 10px;
}
.condstyle{
    border-left:5px solid  hsl(180, 14%, 20%);
}
.filters{  
    display: flex;
    width:80%;
    margin:auto;
    margin-top: -30px;
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 20px;
  }

.clear{
    align-self: center;
    justify-content: center;
    color: hsl(180, 29%, 50%);
    width:8%;
}
.clear:hover{
    cursor: pointer;
    color:black;
    text-decoration: underline;
}
.tagfil{
    color: hsl(180, 29%, 50%);
    width:92%;
    display: flex;
    flex-wrap: wrap;
}
.tagfil>span{
    background-color: hsl(180, 31%, 95%);
    padding:5px 0 5px 5px;
    margin:2px 5px;
    border-radius: 5px;
    flex-wrap: wrap;
}
.close{
    padding:5px 8px;
    margin:5px;
    color:white;
    background-color: hsl(180, 29%, 50%);
}
.close:hover{
    background-color: hsl(180, 14%, 20%);
    cursor:pointer;
}

@media (max-width:600px) {
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:95%;
        margin : 30px auto ;
        padding: 5px;
    }
    div>img{
        position: absolute;
        margin-top: -30px;    
        width:50px;
        height:50px;     
    }
    .cardbody{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top:30px;
    }
    .cardbody *{
        padding:10px;
    }
    .tools{
        margin-left: 10px;
        justify-content:flex-start ;
        font-size: 12px;
    }
    .filters{
        width:95%;
        font-size: 12px;
    }
    
    .clear{
        align-items: center;
    }

}    